.yolomy {
  background-image: url(/home/loise/Desktop/moringa-core-interview-projects/yolomy/images/hero.jpg);
  background-size: cover;
  color: white;
  padding: 10px;
  width: auto;
  height: 700px;
  font-family:comic sans-serif;
  font-size: 20px;
  text-align: center;
}
h5{
  display: inline-block;
  font-family: monospace;
}
button{
  float: right;
  background-color: maroon;
  color: white;
  border: 1px;
  margin: 5px;
}
hr{
  height: 40px;
}

h3, p{
  text-align: center;
}

body{
 font-family: "Comic Sans MS", cursive, sans-serif;
  line-height:10px;
}
#conclusion{
background :dimgrey;
}
.promo{
background: gray;
}
.selection{
    display: block;
    background-color:beige;
}
i {
    border: solid black;
    border-width: 0 1px 1px 0;
    padding: 3px;
}
.arrows{
    float: right;
}
.arrowss{
    float: left;
}
.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
.size ,i {
  display: inline-block;
}
.men{
  display: inline;
}
.pic{
  height:300px;
  width: 200px;
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}
.h3{
    float: right;
}
.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}
.title, .price{
  display: inline-block;
}
.dot1 {
  height: 15px;
  width: 15px;
  background-color: #228B22;
  border-radius: 50%;
  display: inline-block;
}
.dot2 {
  height: 15px;
  width: 15px;
  background-color: Red;
  border-radius: 50%;
  display: inline-block;
}
.product-grid{
  background-color: aliceblue;
  height: 350px;
  width: 200px;

}
.dot4{
  height: 15px;
  width: 15px;
  background-color: Pink;
  border-radius: 50%;
  display: inline-block;
}
.dot5{
  height: 15px;
  width: 15px;
  background-color: white;
  border-radius: 50%;
  display: inline-block;
}
.price{
  float: right;
}
.size{
  float: left;
}
.dot3 {
  height: 15px;
  width: 15px;
  background-color: #BBBB;
  border-radius: 50%;
  display: inline-block;
}
.dots {
  float: right;
}
.productimage{
  display: inline-block;
}
input{
  margin :30px;
  padding:30px;
}
.about{
  background-image: url(/home/loise/Desktop/moringa-core-interview-projects/yolomy/images/about.jpg);
  color: white;
}
.inabout{
    text-align: center;
    width: 400px;
    height:200px;
    margin-left: auto;
    margin-right: auto;
    border:solid beige;
    padding:40px;
    padding-bottom: 5px;
    align-items: center;
}
