.yolomy {
    background-image: url(/home/loise/Desktop/moringa-core-interview-projects/yolomy/images/hero.jpg);
    background-size: cover;
    color: white;
    padding: 10px;
    width: auto;
    height: 700px;
    font-family:comic sans-serif;
    font-size: 20px;
}
h3, p{
    text-align: center;
}
body{
    /*padding: 1px;
    margin: 10px;
    border: 10px;*/
}
.selection{
    display: block;
}
